#%RAML 1.0
title: Avito Advertisements Service
version: v1
protocols: [ HTTP ]
baseUri: http://advertisements.service.avito.ru/api/{version}
mediaType:  application/json

securitySchemes:
  adminPanel: !include security_schemes/admin_panel.raml

traits:
  pageable: !include traits/pageable.raml

resourceTypes:
  collection: !include types/collection.raml

types:
  badRequestResponse: !include types/responses/badRequest.raml
  categoryEntity: !include types/entities/category.raml
  categoryDataObject: !include types/data_objects/category.raml
  cityEntity: !include types/entities/city.raml
  cityDataObject: !include types/data_objects/city.raml
  advertisementEntity: !include types/entities/advertisement.raml
  advertisementDataObject: !include types/data_objects/advertisement.raml

/categories:
  type: { collection: { ItemType: categoryEntity } }
  get:
    is: [ pageable ]
    description: "Список категорий"
  post:
    securedBy: [ adminPanel ]
    description: "Создание новой категории"
    body:
      type: categoryDataObject
    responses:
      201:
      400:
        body:
          type: badRequestResponse
      500:
  /{categoryId}:
    uriParameters:
     categoryId:
       description: "Идентификатор категории"
       type: integer
    put:
      securedBy: [ adminPanel ]
      description: "Обновление существующей категории"
      body:
        type: categoryDataObject
      responses:
        204:
        400:
          body:
            type: badRequestResponse
        404:
        500:
    delete:
      securedBy: [ adminPanel ]
      description: "Удаление существующей категории"
      responses:
        204:
        404:
        500:

/cities:
  type: { collection: { ItemType: cityEntity } }
  get:
    description: "Список городов"
    is: [ pageable ]
  post:
    securedBy: [ adminPanel ]
    description: "Добавление нового города"
    body:
      application/json:
        type: cityDataObject
    responses:
      201:
      400:
        body:
          type: badRequestResponse
      500:
  /{cityId}:
    uriParameters:
      cityId:
        description: "Идентификатор города"
        type: integer
    put:
      securedBy: [ adminPanel ]
      description: "Обновление города"
      body:
        application/json:
          type: cityDataObject
      responses:
        204:
        400:
          body:
            type: badRequestResponse
        404:
        500:
    delete:
      securedBy: [ adminPanel ]
      description: "Удаление города"
      responses:
        204:
        404:
        500:

/advertisements:
  type: { collection: { ItemType: advertisementEntity } }
  get:
    description: "Список опубликованных объявлений"
    is: [ pageable ]
    queryParameters:
      category_id:
        description: "ID категории для поиска"
        type: integer
        required: false
      city_id:
        description: "Идентификатор города"
        type: integer
        required: false
      user_id:
        description: "ID автора объявления"
        type: integer
      description:
        description: "Название/описание объявления"
        type: string
        required: false
      published_at:
        description: "Дата публикации"
        type: date-only
        required: false
  post:
    description: "Создание нового объявления"
    body:
      type: advertisementDataObject
    responses:
      201:
      400:
        body:
          type: badRequestResponse
      500:
  /awaiting_moderation:
    type: { collection: { ItemType: advertisementEntity } }
    get:
      securedBy: [ adminPanel ]
      is: [ pageable ]
      description: "Список объявлений, ожидающих модерации"
  /{advertisementId}:
    uriParameters:
      advertisementId:
        description: "Идентификатор объявления"
        type: integer
    get:
      description: "Получение объявления по ID"
      responses:
        200:
          body:
            application/json:
              type: advertisementEntity
        404:
        500:
    put:
      description: "Редактирование объявления"
      body:
        type: advertisementDataObject
      responses:
        201:
        400:
          body:
            type: badRequestResponse
        500:
    delete:
      description: "Снятие объявления с публикации"
      responses:
        204:
        404:
        500:
    /publish:
      put:
        securedBy: [ adminPanel ]
        description: "Публикация объявления"
        responses:
          204:
          404:
          500:
    /cancel:
      put:
        securedBy: [ adminPanel ]
        description: "Отклонение объявления"
        responses:
          204:
          404:
          500:

