#%RAML 1.0
title: Avito Advertisements Service
version: v1
protocols: [ HTTP ]
baseUri: http://advertisements.service.avito.ru/api/{version}
mediaType:  application/json

securitySchemes:
  adminPanel: !include security_schemes/admin_panel.raml

traits:
  pageable: !include traits/pageable.raml

resourceTypes:
  collection: !include types/collection.raml

types:
  advertisementDataObject: !include types/data_objects/advertisement.raml
  #entities
  #enumerations

/categories:

/cities:

/advertisements:
  type: { collection: { ItemType: advertisementEntity } }
  get:
    queryParameters:
      category_id:
        description: "ID категории для поиска"
        type: integer
      description:
        description: "Название/описание объявления"
        type: string
      city:
        description: "Город"
        type: integer
      publish_date:
        description: "Дата публикации"
        type: datetime
      user_id:
        description: "ID автора объявления"
        type: integer
  post:
    description: "Создать новое объявление"
    body:
      type: advertisementDataObject
    responses:
      201:
      400:
      500:
  /awaiting_moderation:
    get:
      securedBy: [ adminPanel ]
      description: "Получение всех объявлений, требующих модерацию"
  /{advertisementId}:
    get:
      description: "Получение объявления по его ID"
    put:
      description: "Редактирование объявления"
      body:
        type: advertisementDataObject
      responses:
        201:
        400:
        500:
