#%RAML 1.0
title: Avito Advertisements Service
version: v1
protocols: [ HTTP ]
baseUri: http://advertisements.service.avito.ru/api/{version}
mediaType:  application/json

securitySchemes:
  adminPanel: !include security_schemes/admin_panel.raml

traits:
  pageable: !include traits/pageable.raml

resourceTypes:
  collection: !include types/collection.raml

types:
  advertisementCreateDataObject: !include types/data_objects/advertisement.post.raml
  advertisementFullDataObject: !include types/data_objects/advertisement.full.raml
  advertisementEntity: !include types/entities/advertisement.raml

/categories:

/cities:

/advertisements:
  type: { collection: { ItemType: advertisementEntity } }
  get:
    queryParameters:
      category_id:
        description: "ID категории для поиска"
        type: integer
      description:
        description: "Название/описание объявления"
        type: string
      city_id:
        description: "Идентификатор города"
        type: integer
      published_at:
        description: "Дата публикации"
        type: date-only
      user_id:
        description: "ID автора объявления"
        type: integer
  post:
    description: "Создать новое объявление"
    body:
      type: advertisementCreateDataObject
    responses:
      201:
      400:
        body:
          type: badRequestResponse
      500:
  /awaiting_moderation:
    type: { collection: { ItemType: advertisementEntity } }
    get:
      securedBy: [ adminPanel ]
      description: "Получение всех объявлений, требующих модерацию"
  /{advertisementId}:
    get:
      description: "Получение объявления по его ID"
    put:
      description: "Редактирование объявления"
      body:
        type: advertisementCreateDataObject
      responses:
        201:
        400:
          body:
            type: badRequestResponse
        500:
